/* import af adobe-font */
@import url("https://p.typekit.net/p.css?s=1&k=ndv8zye&ht=tk&f=35889&a=166098997&app=typekit&e=css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family:"eds-market-narrow-slant";
src:url("https://use.typekit.net/af/797c1b/00000000000000007735a9e5/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/797c1b/00000000000000007735a9e5/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/797c1b/00000000000000007735a9e5/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;
font-style:normal;
font-weight:400;
font-stretch:normal;
}

@layer base{
.edsmarket {
    font-family: "eds-market-narrow-slant";
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "eds-market-narrow-slant";
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-family: "eds-market-narrow-slant";
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
 h1 {
   letter-spacing: 2px;
  }
  h2 {
    letter-spacing: 1px;
  }
  h3 {
    letter-spacing: 0.5px;
  }
  h4 {
    letter-spacing: 0.25x;
  }
  
}